@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800;900&family=Nunito+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* .navbar {
   font-family: 'M PLUS Rounded 1c', sans-serif;
} */

.bg-EFEBFF {
  background-color: #efebff;
}
.circle1 {
position: relative;
width: 300px;
height: 300px;
border-radius: 50%;
background: #DED6F8;
}
.circle2 {
/* box-sizing: border-box; */
position: relative;
left: -100px;
top: -100px;
width: 490px;
height: 490px;
background: radial-gradient(50% 50% at 50% 50%, #DED6F8 8.00%, rgba(239, 235, 255, 0.71) 100%);
border: 5px dashed #FFFFFF;
border-radius: 50%;
}
.rounded-large{
  border-radius: 30px;
}